# App
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=backend
DB_SSL_MODE=disable
DB_PATH=public

# JWT
JWT_SECRET=
JWT_EXPIRY_MINUTES=60

# OTP
OTP_TTL_MINUTES=5

# SMTP (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM="Invise <your-email@gmail.com>"

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_USE_SSL=false
MINIO_BUCKET=backend
MINIO_PUBLIC_URL=https://yourdomain.com/storage

# Valkey
VALKEY_ADDR=valkey:6379
VALKEY_PASSWORD=

# Seeder
SEEDER_EMAIL=admin@bccdev.id
SEEDER_PASSWORD=

# Logging
LOG_LEVEL=info
LOG_FORMAT=json
LOG_FILE_PATH=/app/logs/app.log
